<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS >
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"-->
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
   
  <title>DAPS</title>
</head>
<body>
  
 <!--Barra de Menu -->
<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #ba7b7c;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="../static/imagenes/logo.png"width="100px" height="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
            DANOS TU OPINION
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item bs-blue" href="/Registro" style="background-color: #d7a9a9;">¡REGISTRATE!</a></li>
            <li><a class="dropdown-item bs-blue" href="/crud" style="background-color: #d7a9a9;">¡COMENTANOS!</a></li>
            <li><a class="dropdown-item bs-blue" href="/mensaje" style="background-color: #d7a9a9;">¡DEJANOS UN MENSAJE!</a></li>
            <ul>
        </ul>
          </li>
           </div>

        <li class="nav-item dropdown">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
            Pantalones
            </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/pantalones">CABALLEROS</a></li>
    <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/pantalones_dama">DAMAS</a></li>
  </ul>
</li>

<li class="nav-item dropdown">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
      Sudaderas
    </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/sudaderas">CABALLEROS</a></li>
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/suda_dama">DAMAS</a></li>
</ul>
</li>

<li class="nav-item dropdown">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
      Playeras
    </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/blusas">CABALLEROS</a></li>
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/playeras">DAMAS</a></li>
</ul>
</li>

<li class="nav-item dropdown">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
      Camisas
    </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/camisas">CABALLEROS</a></li>
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/camisas_dama">DAMAS</a></li>
</ul>
</li>

<li class="nav-item dropdown">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
      Shorts
    </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/shorts">CABALLEROS</a></li>
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/shorts_dama">DAMAS</a></li>
</ul>
</li>

<li class="nav-item dropdown">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
     Ropa Interior
    </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/ropa_interior">CABALLEROS</a></li>
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/ropa_dama">DAMAS</a></li>
</ul>
</li>

<li class="nav-item dropdown">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
      Zapatos
    </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/zapatos">CABALLEROS</a></li>
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/zapa_dama">DAMAS</a></li>
</ul>
</li>

<li class="nav-item dropdown">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"  style="background-color: #f6c8c7;">
      Accesorios
    </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/accesorios">CABALLEROS</a></li>
  <li><a class="dropdown-item" style="background-color: #d7a9a9" href="/acc_dama">DAMAS</a></li>
</ul>
</li>

      </ul>
    </div>
  </div>
</nav>
 <br>
 <br>

 {% block content %}
 {% endblock %}
    <!--script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>