{% extends "layout.html" %}
{% block content %} 
 <section class="section-class">
    <section class="articles">
        <article>
<div class="container"> 
    <h3> <CENTER> <b> Nueva Requisicion </b> </CENTER> </h3> 
    <br> 
    <center><div class="col-md-8"></div></center> 
    <form class="row g-3" action="/requisicion_fagrega" method="post"> 
        <div class="col-md-6"> <label for="folio" class="form-label">Folio</label> 
            <input type="text" class="form-control" name="folio" id="folio" required></input> 
        </div> 
        <div class="col-md-6"> <label for="idArea" class="form-label">Área de adscripción</label> 
            <select name="idArea" id="idArea" class = "form-select" > 
                <option selected>Elige...</option>
                {% for i in catArea %} 
                <option value="{{i.0}}">{{i.1}}</option> 
                {% endfor %} 
            </select> 
        </div> 


        <div class="col-md-6"> <label for="idPuesto" class="form-label">Puesto a cubrir</label> 
            <select name="idPuesto" id="idPuesto" class = "form-select" > 
                <option selected>Elige...</option>
                {% for i in catPuesto %} 
                <option value="{{i.0}}">{{i.1}}</option> 
                {% endfor %} 
            </select> 
        </div> 



        <div class="col-md-12"> 
            <label for="nomSolicita" class="form-label">Nombre y Puesto de quien solicita:</label> 
            <input type="text" class="form-control" name="nomSolicita" id="nomSolicita" required>
        </input> 
    </div> 
    <div class="col-md-12"> 
        <label for="fechaRecluta" class="form-label">Fecha Reclutamiento:</label> 
        <input type="date" class="form-control" name="fechaRecluta" id="fechaRecluta" required>
    </input> 
</div> 
<div class="col-md-12"> 
    <label for="fechaInicVac" class="form-label">Fecha de Inicio Vacante:</label> 
    <input type="date" class="form-control" name="fechaInicVac" id="fechaInicVac" required>
</input> 
</div> 




<div class="col-md-8"> 
    <label for="descripcionGeneral" class="form-label">Numero de Vacantes:</label> 
    <input type="text" class="form-control" name="descripcionGeneral" id="descripcionGeneral" required>
</input> 



<div class="col-md-4"> 
    <label for="tipoVacante" class="form-label">Tipo de Vacante:</label> 
    <select name="tipoVacante" id="tipoVacante" class = "form-select"> 
        <option value="Indistinto" selected>Elige...</option>
        <option value="Temporal">Temporal</option> 
        <option value="Permanente">Permanente</option> 
    </select> 
</div>

</script> 
</div> 
<div class="col-md-12">
<span><b>Vacante generada por: </b></span>
</div>
<div class="col-md-12">
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="motReq" id="motReqBaja" value="Baja">
<label class="form-check-label" for="motReqBaja">Baja</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="motReq" id="motReqIncapacidad" value="Incapacidad">
<label class="form-check-label" for="motReqIncapacidad">Incapacidad</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="motReq" id="motReqLicPerm" value="Licencia o Permiso" >
<label class="form-check-label" for="motReqLicPerm">Licencia o Permiso</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="motReq" id="motReqNuevaCrea" value="Nueva Creación" >
<label class="form-check-label" for="motReqNuevaCrea">Nueva Creación</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="motReq" id="motReqDefun" value="Defunción">
<label class="form-check-label" for="motReqBaja">Defunción</label>
</div>
<div class="form-check form-check-inline">

<input class="form-check-input" type="radio" name="motReq" id="motReqOtro" value="Otro" >
<label class="form-check-label" for="motReqOtro">Otro</label>
</div>
<div class="form-check form-check-inline">
<label class="form-check-label" for="motReqEsp">Especifique</label>
<input class="form-control" type="text" name="motReqEsp" id="motReqEsp"></input>
</div>
</div>
<div class="col-12"> 
    <button type="submit" class="btn btn-danger">Enviar</button> 
</div> 
</form> 
</div>
</div>
</article>
</section>
</body>
</div>


{% endblock %}